@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Margarine&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif ;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* To position the background pseudo-element */
    overflow: hidden; /* Prevent scrolling caused by the background */   
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/sandssss.jpg') no-repeat center center / cover;
    background-size: cover;
    overflow: hidden;
    z-index: -1; /* Ensures it is behind all other elements */
    
}

.box{
    
    height: 400px;
    width: 400px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
    cursor: pointer;
    z-index: 1;
    position: relative;
    left: 400px;

    /* Animated water-like gradient */
    background: rgba(255, 255, 255, 0.1); /* Transparent background */
    animation: colorFlow 6s infinite; /* Animation for the color change */
    backdrop-filter: blur(5px); /* Optional: Adds blur effect to background */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Soft shadow for box visibility */
}
    


.frame{   
    display: flex;
}

.hrs,
.min,
.sec,
.ms,
.colon{
    width: 50px;
    height: 50px;
    
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    color: rgba(33, 31, 31, 0.9);
   
}

.colon{
    width: 10px;
    height: 50px;
}
.buttons{
    margin-top: 15px;
    
}
.buttons button{
    border: none;
    padding: 5px 20px; 
    
    border-radius: 3px;
    text-transform: capitalize;
}


.start{background-color: #23b426;}
.stop{background-color: rgb(33, 33, 227);}
.reset{background-color: red;}
.lap{background-color: chocolate;}

.lap-time {
    color:rgb(5, 236, 171);
    font-size: 16px;
    margin: 5px 0;
}


.start-active,
.stop-active{
    pointer-events: none;
    opacity: .5;
}
